@import url("header.css");
@import url("user-profile.css");
@import url("user-repository.css");

:root {
    --contrast-color: #9f9f9f;
    --base-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 615px) {

    .container {
        width: 100%;
    }

}

.error-message {
    color: #DA3435;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}